
#search_bar{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(222, 219, 219);
    font-size: 20px;
    border:1px solid black;
    width:40%;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:30px;
    background-color:black;
}

.equipment_cards{
    border:1px solid white;
    padding:20px;
    width:25%;
    margin-bottom:30px;
    margin-left:30px;
    height:180px;
    border-radius:20px;
    transition: box-shadow 0.3s;

}

.equipment_card_box{
    display:none;
}

#equipement_container
{
    margin:30px;
    display:flex;
    flex-direction: row;
    margin-left:40px;
    margin-right:40px;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

.equipment_name{
    margin-top:30px;
    font-family: sans-serif;
    font-size:25px;
    color:rgb(222, 219, 219);
    transition: 0.3s;
}

.equipment_count{
    color:rgb(222, 219, 219);
    font-size:50px;
    margin-top:25px;
    transition: 0.3s;
}

.equipment_cards:hover{
    cursor:pointer;
}

.equipment_cards:hover .equipment_name{
    transform: scale(1.2);
}
.equipment_cards:hover .equipment_count{
    transform: scale(1.2);
}

.equipment_card_box:checked + label{
    box-shadow: rgb(76, 154, 69) 10px 10px 1px,red -10px -10px 1px;

    
}

#donebtn{
    position:fixed;
    right:0;
    bottom:5%;
    padding:10px;
    font-size:30px;
    padding-left:25px;
    padding-right:20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border:1px black solid;
    background-color: black;
    color:rgb(222, 219, 219);
    transition:0.3s;
}

#donebtn:hover{
    padding-right:30px;
    padding-left:35px;
    cursor: pointer;
    background-color: rgb(76, 154, 69);
    color:black;
}








